<%- include('header')%>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Invoice</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Invoice</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->


            <!-- /.row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Laxmi Graphics Invoice</h3>
                        </div>
                        <form action="/users/insert_invoice" method="POST">
                            <table style="padding: 5px;" class="table table-head-fixed text-nowrap" id="table">
                                <div style="padding: 5px;">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="clientid" class="control-label"> <small class="req text-danger">
                                                </small>Customer</label>
                                            <div class="dropdown bootstrap-select ajax-search bs3" style="width: 100%;">
                                                <div class="dropdown bootstrap-select ajax-search bs3"
                                                    style="width: 100%;">
                                                    <select id="customer" name="customer_name" class="form-control">
                                                        <% for(var i=0 ; i < result.length ; i++){%>
                                                            <option value="<%=result[i].Customer_name%>">
                                                                <%= result[i].Customer_name%>
                                                            </option>
                                                            <%}%>
                                                    </select>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p class="bold">Bill To</p>
                                                    <input type="text" class="form-control" id="address"
                                                        name="baddress">
                                                    <br>
                                                    <input type="text" class="form-control" id="city" name="bcity">
                                                    <br>
                                                    <input type="text" id="state" name="bstate" class="form-control">
                                                    <br>
                                                    <input type="text" id="zip_code" name="bzipcode"
                                                        class="form-control">
                                                </div>
                                                <div class="col-md-6">
                                                    <p class="bold">Ship to</p>
                                                    <input type="text" id="saddress" name="saddress"
                                                        class="form-control">
                                                    <br>
                                                    <input type="text" id="scity" name="scity" class="form-control">
                                                    <br>
                                                    <input type="text" id="sstate" name="sstate"
                                                        class="form-control"><br>
                                                    <input type="text" id="szip_code" name="szipcode"
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label for="number"> <small class="req text-danger"> </small>Invoice
                                                    Number</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon , form-control">
                                                        INV- </span>
                                                    <input type="text" name="number" class="form-control pending"
                                                        value="<%= invoice + 1 %>" data-isedit="false"
                                                        data-original-number="false" aria-invalid="false">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group" app-field-wrapper="date"><label for="date"
                                                            class="control-label"> <small class="req text-danger">
                                                            </small>Invoice
                                                            Date</label>
                                                        <div class="input-group date"><input type="date" id="date"
                                                                name="date" class="form-control datepicker"
                                                                autocomplete="off">
                                                            <div class="input-group-addon">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group" app-field-wrapper="expirydate"><label
                                                            for="expirydate" class="control-label">Due Date</label>
                                                        <div class="input-group date"><input type="date" id="expirydate"
                                                                name="duedate" class="form-control datepicker"
                                                                autocomplete="off">
                                                            <div class="input-group-addon">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Company</label>
                                            <select id="company" name='Company' class="form-control">
                                            </select>
                                            <br>
                                            <div class="form-group mbot15">
                                                <label for="allowed_payment_modes" class="control-label">Available
                                                    payment
                                                    modes for this invoice</label>
                                                <br>
                                                <div class="dropdown bootstrap-select show-tick bs3"
                                                    style="width: 100%;">
                                                    <div class="dropdown bootstrap-select show-tick bs3">
                                                        <select name="mode" class="form-control">
                                                            <option value="Cash" selected="">Cash</option>
                                                            <option value="Debit Card">Debit Card</option>
                                                            <option value="Net Banking">Net Banking</option>
                                                            <option value="Cheque">Cheque</option>
                                                            <option value="Credit Card">Credit Card</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="form-group" app-field-wrapper="currency"><label
                                                        for="currency" class="control-label">
                                                        <small class="req text-danger">
                                                        </small>Rate</label>
                                                    <input name="price" type="text" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Status</label>
                                                    <div class="dropdown bootstrap-select display-block mbot15 bs3"
                                                        style="width: 100%;">
                                                        <div class="dropdown bootstrap-select display-block mbot15 bs3"
                                                            style="width: 100%;"><select class="form-control"
                                                                class="selectpicker display-block mbot15" name="status"
                                                                data-width="100%"
                                                                data-none-selected-text="Nothing selected"
                                                                tabindex="-98">
                                                                <option value="Draft">Draft</option>
                                                                <option value="Sent">Sent</option>
                                                                <option value="Expired">Expired</option>
                                                                <option value="Declined">Declined</option>
                                                                <option value="Accepted">Accepted</option>
                                                            </select>
                                                            <div class="dropdown-menu open">
                                                                <div class="inner open" role="listbox" id="bs-select-4"
                                                                    tabindex="-1">
                                                                    <ul class="dropdown-menu inner "
                                                                        role="presentation">
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="form-group" app-field-wrapper="sale_agent"><label
                                                            for="sale_agent" class="control-label">Sale Agent</label>
                                                        <div class="dropdown bootstrap-select bs3" style="width: 100%;">
                                                            <div class="dropdown bootstrap-select bs3"
                                                                style="width: 100%;">
                                                                <input name="saleagent" class="form-control"
                                                                    type="text">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="discount_type"
                                                            class="control-label">Discount</label>
                                                        <div class="dropdown bootstrap-select bs3" style="width: 100%;">
                                                            <div class="dropdown bootstrap-select bs3"
                                                                style="width: 100%;">
                                                                <select class="form-control" name="discount"
                                                                    class="selectpicker" data-width="100%"
                                                                    data-none-selected-text="Nothing selected"
                                                                    tabindex="-98">
                                                                    <option value="0%" selected="">No discount</option>
                                                                    <option value="5%">5%</option>
                                                                    <option value="10%">10%</option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div>
                                        <div style="text-align: center;" class="form-group"
                                            app-field-wrapper="adminnote">
                                            <label for="adminnote" class="control-label">Note</label><textarea
                                                id="adminnote" name="adminnote" class="form-control"
                                                rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <table id="readroot"
                                    class="table invoice-items-table items table-main-invoice-edit has-calculations no-mtop">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th width="20%" align="left"><i class="fa fa-exclamation-circle"
                                                    aria-hidden="true" data-toggle="tooltip"
                                                    data-title="New lines are not supported for item description. Use the item long description instead."></i>
                                                Item</th>
                                            <th width="10%" align="right" class="qty">Qty</th>
                                            <th width="10%" align="right" class="qty">Unit</th>
                                            <th width="15%" align="right">Rate</th>
                                            <th width="20%" align="right">Tax</th>
                                            <th width="10%" align="right">Sum</th>
                                            <th width="10%" align="right">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody class="ui-sortable">
                                        <tr class="main">
                                            <td></td>
                                            <td>
                                                <select id="product" name="product_name" class="form-control">
                                                    <% for(var i=0 ; i < product_name.length ; i++){%>
                                                        <option value="<%=product_name[i].product_name%>">
                                                            <%= product_name[i].product_name%>
                                                        </option>
                                                        <%}%>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" id="qty" name="quantity" class="form-control"
                                                    placeholder="qty"> <br>
                                            </td>
                                            <td>
                                                <input type="text" id="unit" name="unit" class="form-control"
                                                    placeholder="unit">
                                                <br>
                                            </td>
                                            <td>
                                                <input type="text" id="rate" name="rate" class="form-control"
                                                    placeholder="rate">
                                                <br>
                                            </td>
                                            <td>
                                                <input type="text" name="GST" class="form-control" placeholder="GST">
                                            </td>
                                            <td>
                                                <input onclick="preamount()" type="button" value="Click to Sum"
                                                    class="form-control">
                                            </td>
                                            <td>
                                                <input type="text" id="amount" name="amount" class="form-control"
                                                    placeholder="amount">
                                                <br>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div style="padding-bottom: 5px;" class="row">
                                    <span id="writeroot"></span>
                                    <div class="col-md-4">
                                        <input class="form-control" type="button" id="moreFields" value="Add" />
                                    </div>
                                    <br>
                                    <div class="col-md-4">
                                        <input class="form-control" type="submit" value="Print"
                                            onclick="window.print('printableArea')" />
                                    </div>
                                    <div id="copyoutput" style="display: none;"></div>
                                    <div class="col-md-4">
                                        <button class="form-control" type="submit">Save</button>
                                    </div>
                                </div>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <!-- ----------------------------------------------Script to calculate the preamount-----------------------------------------------------------     -->

    <Script>
        function preamount() {
            var unit = document.getElementById('unit').value;
            var rate = document.getElementById('rate').value;
            var quantity = document.getElementById('qty').value;
            document.getElementById('amount').value = parseInt(unit) * parseInt(rate) * parseInt(quantity);
        }
    </Script>

    <!-- ----------------------------------------------Selection of product details(unit , rate , qty)--------------------------------------------     -->

    <script>
        var result;
        jQuery('#product').click('change', function () {
            var cat_name = $('#product option:selected').val();
            jQuery.post('http://localhost:3000/users/invoice_select_details',
                { product: cat_name },
                function (result, status, jqXHR) {
                    var formoption = "";
                    var formoption2 = "";
                    var formoption3 = "";
                    var preamount = "";
                    for (var i in result.details) {
                        var id = result.details[i].quantity;
                        formoption += result.details[i].quantity;
                        formoption2 += result.details[i].unit;
                        formoption3 += result.details[i].rate;
                        preamount += (formoption * formoption2 * formoption3);
                    }
                    $('#qty').empty();
                    $('#qty').val(formoption).val();
                    $('#unit').empty();
                    $('#unit').val(formoption2).val();
                    $('#rate').empty();
                    $('#rate').val(formoption3).val();
                    $('#amount').empty();
                    $('#amount').val(preamount).val();
                }
            );
        })
    </script>

    <!-- ----------------------------------------------Selection of company ---------------------------------------     -->

    <script>
        var result;
        jQuery('#customer').click('change', function () {
            var cat_name = $('#customer option:selected').val();
            console.log('cat_name =', cat_name);
            jQuery.post('http://localhost:3000/users/invoice_select_company',
                { name: cat_name },
                function (result, status, jqXHR) {
                    console.log(result.company);
                    var formoption = "";
                    for (var i in result.company) {
                        var id = result.company[i].Company;
                        console.log('address =', result.company[i].Company);
                        formoption += "<option value='" + result.company[i].Company + "'>" + result.company[i].Company + "</option>";
                    }
                    $('#company').empty();
                    $('#company').append(formoption);
                }
            );
        })
    </script>

    <!-- ----------------------------------------------Selection of Ship To address---------------------------------------     -->

    <script>
        var result;
        jQuery('#company').click('change', function () {
            var cat_name = $('#company option:selected').val();
            console.log('cat_name =', cat_name);
            jQuery.post('http://localhost:3000/users/invoice_select_saddress',
                { name: cat_name },
                function (result, status, jqXHR) {
                    console.log(result.address);
                    var formoption = "";
                    var formoption2 = "";
                    var formoption3 = "";
                    var formoption4 = "";
                    for (var i in result.address) {
                        var id = result.address[i].Address;
                        console.log('address =', result.address[i].Address);
                        formoption += result.address[i].Address;
                        formoption2 += result.address[i].City;
                        formoption3 += result.address[i].State;
                        formoption4 += result.address[i].Zip_code;
                    }
                    $('#saddress').empty();
                    $('#saddress').val(formoption).val();
                    $('#scity').empty();
                    $('#scity').val(formoption2).val();
                    $('#sstate').empty();
                    $('#sstate').val(formoption3).val();
                    $('#szip_code').empty();
                    $('#szip_code').val(formoption4).val();
                }
            );
        })

    </script>

    <!-- ----------------------------------------------Selection of Bill To address---------------------------------------     -->

    <script>
        var result;
        jQuery('#company').click('change', function () {
            var cat_name = $('#company option:selected').val();
            console.log('cat_name =', cat_name);
            jQuery.post('http://localhost:3000/users/invoice_select_address',
                { name: cat_name },
                function (result, status, jqXHR) {
                    console.log(result.address);
                    var formoption = "";
                    var formoption2 = "";
                    var formoption3 = "";
                    var formoption4 = "";
                    for (var i in result.address) {
                        var id = result.address[i].Address;
                        console.log('address =', result.address[i].Address);
                        formoption += result.address[i].Address;
                        formoption2 += result.address[i].City;
                        formoption3 += result.address[i].State;
                        formoption4 += result.address[i].Zip_code;
                    }
                    $('#address').empty();
                    $('#address').val(formoption).val();
                    $('#city').empty();
                    $('#city').val(formoption2).val();
                    $('#state').empty();
                    $('#state').val(formoption3).val();
                    $('#zip_code').empty();
                    $('#zip_code').val(formoption4).val();
                }
            );
        })
    </script>

    <!-- ----------------------------------------------Script to replicate the flieds---------------------------------------     -->

    <script>
        var counter = 0;
        jQuery('#moreFields').click('change',
            function moreFields() {
                counter++;
                var newFields = document.getElementById('readroot').cloneNode(true);
                newFields.id = '';
                newFields.style.display = 'block';
                var newField = newFields.childNodes;
                for (var i = 0; i < newField.length; i++) {
                    var theName = newField[i].name
                    if (theName)
                        newField[i].name = theName + counter;
                }
                var insertHere = document.getElementById('writeroot');
                insertHere.parentNode.insertBefore(newFields, insertHere);
            })
    </script>

    <%- include('footer')%>